.example-card {
  max-width: 70vw;
  margin: 0 auto;
  margin-top: 20px;
}

.example-header-image {
  background-size: cover;
}

/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
