<mat-drawer-container class="example-container">
    <mat-drawer style="width: 200px" [class.mat-elevation-z8]="true" mode="side" opened>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Profile
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button color="primary" style="width: 100%">Profile</button>
                <button mat-button color="primary" style="width: 100%">Finished challenges</button>
                <button mat-button color="primary" style="width: 100%">Achievement</button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Content manager
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button color="primary" style="width: 100%">Challenge</button>
                <button mat-button color="primary" style="width: 100%" routerLink="competition">Competition</button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Team
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button color="primary" style="width: 100%">Create</button>
                <button mat-button color="primary" style="width: 100%">Modify</button>
                <button mat-button color="primary" style="width: 100%">View</button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Workbooks
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button color="primary" style="width: 100%">Edit</button>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>