<div>
    <mat-card style="margin: 20px;">
        <mat-card-header>
            <h1 style="color: forestgreen">Create new category</h1>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field style="width: 80%">
                <input matInput placeholder="ID" [(ngModel)]="category.id" />
            </mat-form-field>
            <button mat-button *ngIf="categoriesService.categories.items.length!=0" (click)="openDialog()">Select to
                modify</button>
            <br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" [(ngModel)]="category.name" />
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Description" [(ngModel)]="category.description"></textarea>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Image Url" [(ngModel)]="category.imageUrl" />
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Select challenge</mat-label>
                <mat-select>
                    <mat-option *ngFor="let challenge of ownChallenge" [value]="challenge['challengeID']">
                        {{challenge["challengeID"]}} - {{challenge["title"]}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <p>Challenge list</p>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let challenge of category.challengeList">{{challenge}}
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button *ngIf="createMode" color="primary">Create</button>
            <button mat-button *ngIf="!createMode" color="primary">Update</button>
            <button mat-button *ngIf="!createMode" color="primary">Delete</button>
        </mat-card-actions>
    </mat-card>

</div>