<mat-toolbar [class.mat-elevation-z6]="true">
  <img width="100" src="./assets/logo.png" />
  <div style="margin-left: 20px;">
    <button mat-button routerLink="/explore">Explore</button>
    <button mat-button>Fight</button>
    <button mat-button [matMenuTriggerFor]="challengeMenu">Challenge</button>
    <mat-menu #challengeMenu="matMenu">
      <button mat-menu-item routerLink="/create-challenge">Create</button>
      <button mat-menu-item routerLink="/create-challenge/modify">Edit</button>
      <button mat-menu-item>View result</button>
    </mat-menu>
    <button mat-button>History</button>
  </div>

  <span class="example-spacer"></span>
  <h4 style="size: 2vw;" *ngIf="afAuth.auth.currentUser!=null">{{afAuth.auth.currentUser.displayName}}</h4>
  <button mat-icon-button color="accent" routerLink="/login">
    <mat-icon aria-label="Example icon-button with a heart icon">account_circle</mat-icon>
  </button>
</mat-toolbar>