/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: GoogleSans;
  src: url("./assets/GoogleSans-Regular.ttf");
}

.myText {
  font-family: "GoogleSans", sans-serif;
}

body {
  margin: 0;
  font-family: "GoogleSans", sans-serif;
}
